body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}
.container {
    z-index: 100;
    padding: 5px;
    width: 90%;
    max-width: 350px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 10px rgba(174, 0, 255, 0.5);
}
.label {
    font-size: 24px;
    margin-bottom: 10px;
}
.value {
    font-size: 48px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}
.updated {
    font-size: 18px;
    color: rgb(0, 0, 0);
}